<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBOTD0Gu8XbtzkhQrfbMeQsCSbCaRqprJs</string>
	<key>GCM_SENDER_ID</key>
	<string>872988489206</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.tummyblis.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>tummybliss-9c73c</string>
	<key>STORAGE_BUCKET</key>
	<string>tummybliss-9c73c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:872988489206:ios:7cc836cd14ddaf58cd83d7</string>
</dict>
</plist>